body {
    width: 100%;
    height: 100%;
    background-image:url(../images/photo-bg.jpeg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    max-width: 700px;
    margin: 250px auto 0;
  }
  
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #003366;
  }

  h1 {
    text-align: center;
    font-size: 42px;
  }

  
  .searchbar {
    text-align: center;
    margin-top: 30px;
    display:flex;
    height:60px;
  
  }

  .search-field {
    border: 1px solid #bababa;
    padding: 0 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .date{

      line-height:60px;
      margin-left:18%;
  }
  .buttons {
    display: flex;
    margin-top:auto;
    margin-bottom:auto;
  }
  
  button {
    border: 1px solid white;
    height: 36px;
    background: white;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1 auto;
    margin: 0 20px;
  }
  button.search{
      color:#235F9C;
  }
  button:hover {
    border: 1px solid #235F9C;;
    background: #235F9C;
    color:white;
  }

.form{
    background-color:#2B687B;
    border-radius:20px;
}
.rechercher{
    line-height:60px;
    margin-left:20px;

}