<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>ParisDiscover</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrap">
        <a href="../../"><h1>Paris Discover</h1></a>
        <form action="" method="post">
            <div class="searchbar">
                <input class="search-field" type="search" placeholder="Recherche un évènement" name="search" id="query" value="<%= query %>">
                <div class="buttons">
                    <button class="search" id="search">Search</button>
                </div>
            </div>
        </form>
        <div class="result">
            <% if (result !== 'null') { %>
                <span><%- JSON.stringify(result) %></span>
            <% } %>
        </div>
    </div>
</body>
</html>
